py~=1.11.0
colorama~=0.4.3
pip~=22.2.2
attrs~=21.4.0
distro~=1.4.0
toml~=0.10.2
wheel~=0.34.2
cryptography~=2.8
lxml~=4.5.0
Pillow~=7.0.0
Jinja2~=2.10.1
keyring~=23.7.0
pkginfo~=1.8.3
pytest~=6.2.5
pluggy~=1.0.0
iniconfig~=1.1.1
pexpect~=4.8.0
pyparsing~=3.0.7
setuptools~=60.7.1
packaging~=20.9
zipp~=3.8.1
Django~=4.0.6
dj-database-url~=1.0.0
gunicorn~=20.0.4
python-dotenv~=0.9.1
psycopg2~=2.9.3
django-bootstrap4~=22.2
whitenoise~=6.2.0
bs4~=0.0.1
beautifulsoup4~=4.8.2
soupsieve~=1.9.5
html5lib~=1.0.1
asgiref~=3.5.2
sqlparse~=0.4.2
PyYAML~=5.3.1
requests~=2.27.1
django-filter~=22.1