{% extends "base.html" %}
{% load i18n %}

{% block header %}
{% translate "List of users" %}
{% endblock %}

{% block content %}
<table class="table table-striped">
    <thead>
    <tr>
        <th>{% translate "ID" %}</th>
        <th>{% translate "Username" %}</th>
        <th>{% translate "Fullname" %}</th>
        <th>{% translate "Created date" %}</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for user in user_list %}
    <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.get_full_name }}</td>
        <td>{{ user.date_joined|date:"d.m.Y H:i" }}</td>
        <td>
            <a href="{% url 'users:update' user.id %}">{% translate "Update" %}</a>
            <br>
            <a href="{% url 'users:delete' user.id %}">{% translate "Delete" %}</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}

