{% load bootstrap4 %}
{% load i18n %}
{% bootstrap_javascript jquery='full' %}
{% get_current_language as LANGUAGE_CODE %}

<!doctype html>
<html lang="{{ LANGUAGE_CODE }}" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% translate "Task manager" %}</title>
    {% bootstrap_css %}
</head>
<body class="d-flex flex-column h-100">
<header>
    <!-- Fixed navbar -->
    <nav class="navbar mb-4 navbar-expand-md navbar-dark bg-info">
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">{% translate "Task manager" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users:users' %}">{% translate "Users" %}</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'statuses:statuses' %}">{% translate "Statuses" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'labels:labels' %}">{% translate "Labels" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'tasks:tasks' %}">{% translate "Tasks" %}</a>
                </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'logout' %}">{% translate "Log out" %}</a>
                </li>
                {% else %}
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'users:create' %}">{% translate "Sign up" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">{% translate "Log in" %}</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>

{% bootstrap_messages %}
<!-- Begin page content -->
<main role="main" class="flex-shrink-0">
    <div class="container mt-4">
        <h1>
            {% block header %}
            {% endblock %}
        </h1>
        {% block content %}
        {% endblock %}
    </div>
</main>

<footer class="footer mt-auto py-3">
    <div class="container">
        <hr>
        <a target="_blank" href="https://ru.hexlet.io">Hexlet</a>
    </div>
</footer>
</html>
